
.app-content-container{
  padding: 20px;

  
}

.MuiButton-root.create-list-btn{
  margin-bottom: 15px;
}

.tabbed-auth-forms{
  width: 400px;
  max-width: 90vw;
  margin-top: 100px;

  .auth-form {
    display: flex;
    flex-direction: column;
  
    * {
      margin-bottom: 10px;
    }
  }
}

.MuiListItemIcon-root.context-menu-icon {
  min-width: 30px;
}

.sl-card-container{
  display: block;
  .card {
    transition: transform 0.168s;
    display: block;
    position: absolute;
    
    .card-header {
      display: flex;
      justify-content: space-between;
      padding: 0 16px;
  
      .sl-title{
        font-weight: 600;
        font-size: 1.3em;
        text-transform: capitalize;
      }
  
    }
  }

  .card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  }

  .left {
    display: flex;
    align-items: center;

  }

}

.modal-card-content {
  width:  100%;

  form {
    display: flex;
    flex-direction: column;
  }
  
  form * {
   margin-bottom: 10px;
  }
}