.remove-btn {
  margin-right: 0.5rem
}

.fade-enter{
  opacity: 0.01;
}

.fade-enter-active{
  opacity: 1;
  transition: opacity 100ms ease-in;
}

.fade-exit {
  opacity: 1;
  
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}

form {
  display: flex;
  flex-direction: column;
}

form * {
 margin-bottom: 10px;
}

.content {
  width:  100%;
}
.container{
  padding: 20px;
}

.sl-card-container{
  display: flex;
  flex-wrap: wrap;
}

.sl-card-container .card-header {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}
.sl-card-container .card-header .left {
  padding-left: 14px;
  display: flex;
}
.sl-card-container .card {
  margin: 10px 10px;
  width: 400px;
  max-width: 95vw;
  display: inline-block;
  flex-grow: 5;
}

.container .create-list-btn{
  margin-left: 10px;
}