
.app-content-container{
  padding: 20px;

  
}
a, a:visited {
  color: inherit;
  text-decoration: none;
}
.MuiButton-root.create-list-btn{
  margin-bottom: 15px;
}

.tabbed-auth-forms{
  width: 400px;
  max-width: 90vw;
  margin: auto;
  margin-top: 20px;
  
  .auth-tab-btn{
    flex: 1;
  }

  .auth-form {
    display: flex;
    flex-direction: column;
  
    * {
      margin-bottom: 10px;
    }
  }
}

.MuiListItemIcon-root.context-menu-icon {
  min-width: 30px;
}

.sl-card-container{
  --sl-inner-width: calc(100% - 40px);
  display: block;
  .card::before{
    content: var(--sl-cols);
  }
  .card {
    display: block;
    position: absolute;
    
    .card-header {
      display: flex;
      justify-content: space-between;
      padding: 0 16px;
  
      .sl-title{
        font-weight: 600;
        font-size: 1.3em;
        text-transform: capitalize;
      }
  
    }
  }

  @for $numcols from 1 through 20 {
    // (SPACE_BETWEEN_ITEMTS * (numberOfColums - 1)) / numberOfColums
    $spacebetween: 10px;
    $width: calc(((100vw - 40px) / #{$numcols}) - ((#{$spacebetween} * (#{$numcols} - 1))/#{$numcols}));
    
    .sl-grid-#{$numcols}{
      width: #{$width};
    }
    @for $colindex from 0 through $numcols{
      .sl-col-#{$colindex}.sl-grid-#{$numcols}{
        transform:  translateX(calc(#{$colindex} * #{$width} + (#{$spacebetween} * #{$colindex})));
      }
    }    
  }

  .card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  }

  .left {
    display: flex;
    align-items: center;

  }

}

.modal-card-content {
  width:  100%;

  form {
    display: flex;
    flex-direction: column;
  }
  
  form * {
   margin-bottom: 10px;
  }
}